* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(212, 212, 212, 0.801);
    width: 100%;
}
/* --------------------css para la navbar--------------------- */
header{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
}

.img {
    width: 100px;
}

.menu {
    width: 70%;
    margin: auto 0;
    text-align: center;
}
.buscar{
    margin-top: 10px;
    height: 25px;
    width: 50%;
    justify-content: center;
}

.btn {
    background-color: darkorange;
    width: 90px;
    height: 35px;
}
.navegacion {
    text-align: center;
}
.inicio{
    display: inline-block;
    margin: 10px 10px;
}
.cuenta{
    margin: auto 0;
    width: 20%;
    text-align: center;
}
.btnCuenta{
    width: 100px;
    height: 30px;
    background-color: orange;
    border: 2px solid rgba(255, 68, 0, 0.575);
}
.btnCarrito{
    width: 30px;
    height: 30px;
    background-color: orange;
    border: 2px solid rgba(255, 68, 0, 0.575);
    margin-left: 5px;
}
.imgCarrito {
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}
/* --------------------termina css para la navbar--------------------- */
/* ---------------------css para carusel----------------------------- */

.carrusel{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    background-color: rgba(212, 212, 212, 0.801);
    margin: 20px;
}

.imgCarrusel {
    width: 95%;
}

.whatsapp{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}
.wpp{
    width: 40px;
    height: 40px;
    position: fixed;
    border-radius: 20px;
}
/* ---------------------termina css para carusel----------------------------- */
/* ---------------------css para infoCompras----------------------------- */

.infoCompra{
    display: flex;
    justify-content: space-around;
    height: 150px;
    margin-top: 30px;
}

.btnCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 33%;;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 254, 253, 0.712);
    border: 2px solid rgb(0, 0, 0);
}

/* --------------------- termina css para infoCompras----------------------------- */
/* ---------------------css para Productos para ti----------------------------- */

.titulo{
    margin-left: 10px;
}

.paraTi {
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}
.masVendidos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}
.conteinerProductos {
    width: 33%;
    height: 33%;
    background-color: rgba(0, 0, 0, 0.068);
    text-align: center;
    margin: 10px;
}
.seccionProductos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}
h3{
    margin-top: 10px;
    color: black;
}




/* ---------------------final css para Productos para ti----------------------------- */
/* ---------------------css para footer----------------------------- */
footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: black;
       
}
.infoFooter{
    margin: auto 0px;
}
.logoRedes {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
}
 .redes {
    display: inline-block;
}
.navegacionFooter{
    margin: auto 0;
}

.logoFooter {
    width: 140px;
    margin: 0 auto;
}
/* ---------------------css para footer----------------------------- */
/* ---------------------css para categorias----------------------------- */
.categoria {
    display: grid;
    height: 600px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "buzo zapatillas zapatillas"
    "buzo cuellos remeras";
    justify-content: center;
    width: 100%;
}


.buzos {
    grid-area: buzo;
    background-image: url(/pic/buzo.jpeg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: 80px;
}
.btnVerCategoria{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 6px;
}

.zapatillas{
    grid-area: zapatillas;
    background-color: yellowgreen;
    margin: 10px;
    background-image: url(/pic/zapatillas.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: 100px;
}

.cuellos{
    grid-area: cuellos;
    background-color: rgb(50, 187, 205);
    margin: 10px;
    background-image: url(/pic/cuellito.jpeg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 50px;
}

.remeras{
    grid-area: remeras;
    background-color: rgb(205, 50, 192);
    margin: 10px;
    background-image: url(/pic/remera.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}


/* CSS PARA PREGUNTAS FRECUENTES */
h1{
    margin: 15px;
    font-size: 25px;
}
.preguntasFrecuentes{
    background-image: url(../pic/preguntas-frecuentes.png);
    background-repeat: no-repeat;
    background-position: center;
}
.conteinerPregunta{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 100px 100px;
    column-gap: 30px;
    row-gap: 30px;
    height: 500px;
    justify-items: baseline;
    margin: 50px;
    
}

.pregunta {
    border-radius: 20px;
}
.pregunta h2{
    margin: 20px;
}

.preguntaNaranja {
    background-color: rgba(255, 166, 0, 0.678);
    width: 100%;
    
}
.preguntaNegro {
    background-color: rgba(136, 88, 0, 0.685);
    color: rgb(255, 255, 255);
    width: 100%;
}
.pregunta h2 {
    text-align: center;
    margin-top: 35px;
}
.contactar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top:100px ;
}
.btnContactar {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    margin-left: 25px;
    border-radius: 6px;
}
/* TERMINA CSS PARA PREGUNTAS FRECUENTES */
/* CSS PARA CONTACTO */
.conteinerContactos {
    display: grid;
    height: auto;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas: 
    "texto contacto"
    "formulario contacto"
    "suscribite contacto";
}
.formContacto {
    grid-area: texto;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.formContact{
    grid-area: formulario;
    width: 90%;
    margin: 3px auto;
    text-align: center;
}
#nombre {
    width: 100%;
    height: 45px;
    font-size: 25px;
}
#email {
    width: 50%;
    height: 35px;
    font-size: 25px;
}
#telefono {
    width: 40%;
    height: 35px;
    font-size: 25px;
    margin: 10px
}
#mensaje{
    width: 100%;
    height: 45px;
    font-size: 25px;
}

.btnFormContacto {
    width: 50%;
    height: 45px;
    background-color: orange;
    font-size: 20px;
    margin: 10px;
}

.contactos {
    grid-area: contacto;
    background-image: url(../pic/img-contactanos.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 90%;
    background-position-y: 400px;
    background-color: rgba(255, 166, 0, 0.651);
    margin: auto 0 auto auto;
    font-size: 20px;
    width: 100%;
    height: 600px;
    text-align: center;
}
.li{
    margin-top: 30px;
    list-style:none;
}
.suscribite {
    grid-area: suscribite;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.suscribite h3{
    margin-bottom: 10px;
}
#suscribite{
    width: 80%;
    height: 25px;
}
.btnSuscribirme{
    width: 20%;
    height: 30px;
    background-color: orange;
    margin-top: 10px;
    overflow: hidden;
}

/*  TERMINA CSS PARA CONTACTO */
/* CSS PARA PRODUCTOS */

.conteinerPagProductos {
    width: 33%;
    height: 33%;
    background-color: rgba(0, 0, 0, 0.068);
    text-align: center;
    margin: 10px;
}
/* TERMINA CSS PARA PRODUCTOS */
/* CSS PARA SOBRE NOSOTROS */
.sobreNosotros {
    width: 100%;
    text-align: center;
    background-color: white;
}
.imgSobreNosotros{
    width: 90%;
}


@media(max-width:768px){
    .inicio{
        font-size: 13px;
        margin-left: 1px;
    }
    .buscar{
        width: 100%;
    }
    .preguntas{
        display: none;
    }
    .btn {
        display: none;
    }
    .btnCuenta{
        display: none;
    }
    .carrusel{
        width: 90%;
        height: 250px;
        margin: 20px auto;
    }
    .imgCarrusel{
        width: 100%;
        height: 100%;
    }
    .infoCompra{
        width: 90%;
        margin: 0 auto;
    }
    .btnCompra{
        font-size: small;
        height: 90px;
        margin: 0 auto;
    }
    .paraTi{
        display: none;
    }
    .masVendidos{
        display: none;
    }
    .titulo{
        display: none;
    }
    .categoria {
        display: grid;
        height: 600px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33% ;
        grid-template-areas: 
        "buzo cuellos"
        "buzo remeras"
        "zapatillas zapatillas";
        justify-content: center;
        width: 100%;
    }
    .tipoCategoria{
        font-size: 50%;
        margin-top: 10px;
    }
    .btnVerCategoria{
        width: 50%;
        height: 30px;
        font-size: 10px;
    }
    /* productos */
    .seccionProductos{
        width: 100%;
        flex-direction: column;  
    }
    .conteinerPagProductos{
        margin: 10px auto;
        width: 80%;
    }
    .conteinerPagProductos h3{
        font-size: 80%;
    }
    
    /* contacto */
    .conteinerContactos {
        grid-template-columns: 100%;
        grid-template-rows: 10% 30% 25% 10% 20%;
        grid-template-areas: 
        "texto"
        "formulario"
        "suscribite"
        " contacto"
        " contacto";
        overflow: hidden;
    }
    .contactos{
        width: 100%;
        background-image: none;
    }
    .formContacto h1{
        font-size: 15px;
        margin: 10px;
    }
    #nombre{
        width: 80%;
        height: 30px;
    }
    #email{
        width: 80%;
        height: 30px;
    }
    #telefono{
        width: 80%;
        height: 30px;
    }
    #mensaje{
        width: 80%;
        height: 30px;
    }
    /* preguntas frecuentes */
    .conteinerPregunta{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
}
