* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(212, 212, 212, 0.801);
}
/* --------------------css para la navbar--------------------- */
header{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
}

.img {
    width: 100px;
}

.menu {
    width: 50%;
    margin: auto 0;
    text-align: center;
}
.buscar{
    height: 25px;
    width: 450px;
    justify-content: center;
}

.btn {
    background-color: darkorange;
    width: 60px;
    height: 35px;
}
.navegacion {
    text-align: center;
}
.inicio{
    display: inline-block;
    margin: 10px 10px;
}
.cuenta{
    margin: auto 0;
}
.btnCuenta{
    width: 100px;
    height: 30px;
    background-color: orange;
    border: 2px solid rgba(255, 68, 0, 0.575);
}
.btnCarrito{
    width: 30px;
    height: 30px;
    background-color: orange;
    border: 2px solid rgba(255, 68, 0, 0.575);
    margin-left: 5px;
}
.imgCarrito {
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}
/* --------------------termina css para la navbar--------------------- */
/* ---------------------css para carusel----------------------------- */

.carrusel{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    background-color: rgba(212, 212, 212, 0.801);
    margin: 20px;
}

.imgCarrusel {
    width: 95%;
}

.whatsapp{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}
.wpp{
    width: 40px;
    height: 40px;
    position: fixed;
    border-radius: 20px;
}
/* ---------------------termina css para carusel----------------------------- */
/* ---------------------css para infoCompras----------------------------- */

.infoCompra{
    display: flex;
    justify-content: space-around;
    height: 150px;
    margin-top: 30px;
}

.btnCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 350px;;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 254, 253, 0.712);
    border: 2px solid rgb(0, 0, 0);
}

/* --------------------- termina css para infoCompras----------------------------- */
/* ---------------------css para Productos para ti----------------------------- */

.titulo{
    margin-left: 10px;
}
.paraTi {
    display: flex;
    justify-content: space-around;
}
.masVendidos {
    display: flex;
    justify-content: space-around;
}
.conteinerProductos {
    width: 300px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.11);
    border: 2px solid white;
    text-align: center;
    margin: 10px;
}
h3{
    margin-top: 10px;
    color: black;
}




/* ---------------------final css para Productos para ti----------------------------- */
/* ---------------------css para footer----------------------------- */
footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: black;
       
}
.infoFooter{
    margin: auto 0px;
}
.logoRedes {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
}
 .redes {
    display: inline-block;
}
.navegacionFooter{
    margin: auto 0;
}

.logoFooter {
    width: 140px;
    margin: 0 auto;
}
/* ---------------------css para footer----------------------------- */
/* ---------------------css para categorias----------------------------- */
.categoria {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.buzos {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 620px;
    background-image: url(/pic/buzo.jpeg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: 100px;
}
.btnVerCategoria{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 6px;
}
.imgBuzo{
    width: 500px;
    height: 620px;
}
.conteinerCategoria1{
    display: flex;
    flex-direction: column;
}
.conteinerCategoria{
    display: flex;
    flex-direction: row;
}
.zapatillas{
    display: flex;
    flex-direction: column;
    width: 820px;
    height: 300px;
    background-color: yellowgreen;
    margin: 10px;
    background-image: url(/pic/zapatillas.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: 100px;
}
.imgZapas{
    width: 820px;
    height: 300px;
}
.cuellos{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: rgb(50, 187, 205);
    margin: 10px;
    background-image: url(/pic/cuellito.jpeg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 50px;
}
.imgCuello{
    width: 400px;
    height: 300px;
}
.remeras{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: rgb(205, 50, 192);
    margin: 10px;
    background-image: url(/pic/remera.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
.imgSale{
    width: 400px;
    height: 300px;
}

/* CSS PARA PREGUNTAS FRECUENTES */
h1{
    margin: 15px;
    font-size: 25px;
}
.preguntasFrecuentes{
    background-image: url(../pic/preguntas-frecuentes.png);
    background-repeat: no-repeat;
    background-position: center;
}
.conteinerPregunta{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 100px 100px;
    column-gap: 30px;
    row-gap: 30px;
    height: 500px;
    justify-items: baseline;
    margin: 50px;
    
}

.pregunta {
    border-radius: 20px;
}

.preguntaNaranja {
    background-color: rgba(255, 166, 0, 0.678);
    width: 100%;
    
}
.preguntaNegro {
    background-color: rgba(136, 88, 0, 0.685);
    color: rgb(255, 255, 255);
    width: 100%;
}
.pregunta h2 {
    text-align: center;
    margin-top: 35px;
}
.contactar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top:100px ;
}
.btnContactar {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    margin-left: 25px;
    border-radius: 6px;
}
/* TERMINA CSS PARA PREGUNTAS FRECUENTES */
/* CSS PARA CONTACTO */

.formContacto {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
.formContact{
    width: 500px;
    margin: 0 auto;
}
#nombre {
    width: 100%;
    height: 45px;
    font-size: 25px;
}
#email {
    width: 50%;
    height: 35px;
    font-size: 25px;
}
#telefono {
    width: 40%;
    height: 35px;
    font-size: 25px;
    margin: 10px
}
#mensaje{
    width: 100%;
    height: 45px;
    font-size: 25px;
}

.btnFormContacto {
    width: 50%;
    height: 45px;
    margin: 20px 120px;
    background-color: orange;
    font-size: 20px;
}
.conteinerContactos {
    display: flex;
    flex-direction: row;
}
.contactos {
    background-image: url(../pic/img-contactanos.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 500px;
    background-position-y: 300px;
    background-color: rgba(255, 166, 0, 0.651);
    margin: auto 0 auto auto;
    font-size: 20px;
    width: 40%;
    height: 600px;
    text-align: center;
}
.li{
    margin-top: 30px;
    list-style:none;
}
.suscribite {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}
.suscribite h3{
    margin-bottom: 10px;
}
#suscribite{
    width: 500px;
    height: 25px;
}
.btnSuscribirme{
    width: 120px;
    height: 30px;
    background-color: orange;
    margin-top: 10px;
}

/*  TERMINA CSS PARA CONTACTO */
/* CSS PARA PRODUCTOS */

.conteinerPagProductos {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.068);
    text-align: center;
    margin: 10px;
}
/* TERMINA CSS PARA PRODUCTOS */
/* CSS PARA SOBRE NOSOTROS */
.sobreNosotros {
    width: 100%;
    text-align: center;
    background-color: white;
}