/* css para nav */
.row{
    width: 100%;
    margin: 0;
    .navbar{
        background-image: $color-nav-footer;
        a {
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: black;
        } 
        @import "logo";
        .navbar-toggler{
            margin-right: 50px;
        }
        .collapse{
            color: white;
            margin-right: 50px;
            text-align: center;
            justify-content: right;
            width: 100%;
            .conteiner{
                ul{
                    justify-content: center;
                }
                .btnCuenta{
                    width: 100px;
                    height: 40px;
                    background-color: $color-primario;
                    border: 2px solid $borde-boton;
                    border-radius: 7px;
                    font-size: 19px;
                }
                .navbar-nav{
                    a{
                        color: white;
                    }
                    .dropdown-menu a{
                        color: black;
                    }
                }
            }
            .cuenta{
                text-align: center;
                .btnCuenta{
                    width: 100px;
                    height: 40px;
                    background-color: $color-primario;
                    border: 2px solid $borde-boton;
                    border-radius: 7px;
                    font-size: 19px;
                }
                .btnCarrito{
                    width: 30px;
                    height: 40px;
                    background-color: $color-primario;
                    border: 2px solid $borde-boton;
                    border-radius: 7px;
                    margin-left: 5px;
                    .imgCarrito {
                        width: 16px;
                        height: 16px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
/* termina css para nav */